/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);
* {
  font-family:'Raleway', sans-serif;
  color: white;
}
input{
 color: black !important;
}

.smallContainer{
  background: #3663BB;
  padding: 20px;
  margin: 20px auto;
}
body{
  background: #333 !important;;

}
.container{
 margin: 0 auto;  
 background :#255588;
 padding: 20px;

}
.mainHeader{
  color: #69AA96;
}
.cont{
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  height: 500px;
}
.picture{
 margin: 20px;
 background: #AAA; 
 border-radius: 5px;

}
.center{
 margin: 0 auto;
text-align: center;
}
#user_nav{
 background: #8998AA;
 padding: 0px 20px; 
 position: fixed;
 bottom: 0px;

 left: 0px;
}
.footer{
  background: #3663BB;
  position:fixed;
  height: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.tallContainer{




}
